bin/
obj/

.vs/
.vscode/

TestResults/
*.user
*.suo

*.log

src/TicketPrime.Api/bin/
src/TicketPrime.Api/obj/
src/Backend/bin/
src/Backend/obj/
tests/TicketPrime.Tests/bin/
tests/TicketPrime.Tests/obj/
